---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar";
import Audifonos from "../subcomponents/Audifonos.jsx";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.jsx";
import Chatbot from "../components/Chatbot.astro";
---

<Layout>
  <NavBar client:load/>
  <div class="pt-9">
  <Audifonos client:load />
  <Contact />
  </div>
  <Chatbot />
  <Footer />
</Layout>
