---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar";
import Audiometry from "../subcomponents/Audiometry.jsx";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.jsx";
import Chatbot from "../components/Chatbot.astro";
---

<Layout>
  <NavBar client:load/>
  <div class="pt-16">
  <Audiometry client:load/>
  <Contact />
  </div>
  <Footer />
  <Chatbot  />
</Layout>
