---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar";
import ContactoSection from "../components/ContactoSection.jsx";
import Footer from "../components/Footer.astro";
import Chatbot from "../components/Chatbot.astro";
---

<Layout>
  <NavBar />
  <div class="pt-12">
  <ContactoSection client:load />
  </div>
  <Footer />
  <Chatbot />
</Layout>
