---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.jsx";
import Hero from "../components/Hero.jsx";
import Welcome from "../components/Welcome.jsx";
import OpinionCarousel from "../components/OpinionCarousel.jsx";
import Team from "../components/Team.astro";
import Services from "../components/Services.jsx";
import Aseguradoras from "../components/Aseguradoras.jsx";
import Qya from "../components/Qya.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Chatbot from "../components/Chatbot.astro";
import CookieBanner from "../components/CookieBanner.jsx";
import { Cookie } from "lucide-react";
---

<Layout>
  <NavBar client:load/>
  <div class="pt-26">
    <Hero client:load/>
    <Welcome client:load />
  </div>
  <section>  
  <OpinionCarousel client:load />
  </section>
  <Team client: load/>
  <Services client:load />
  <Aseguradoras />
  <Contact />
  <Qya />
  <Chatbot />
  <Footer />
  <CookieBanner client:load />
</Layout>
