---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.jsx";
import Instalaciones from "../subcomponents/Instalaciones.jsx";
import Historia from "../subcomponents/Historia.astro";
import Qya from "../components/Qya.astro";
import Contact from "../components/Contact.astro";
import Chatbot from "../components/Chatbot.astro";
import Footer from "../components/Footer.jsx";
---

<Layout>
  <NavBar client:load/>
  <div class="pt-9">
  <Instalaciones client:load/>
  <Historia />
  <Qya />
  <Contact />
  </div>
  <Footer />
</Layout>
