---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.jsx";
import OtorrinoHero from "../subcomponents/OtorrinoHero.jsx";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Chatbot from "../components/Chatbot.astro";
---

<Layout>
  <NavBar client:load/>
  <div class="pt-32"></div>
  <OtorrinoHero client:load />  
  <Contact />
  <Footer />
  <Chatbot />
</Layout>
