---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar";
import Vertigo from "../subcomponents/Vertigo.jsx";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.jsx";
import Chatbot from "../components/Chatbot.astro";
---

<Layout>
  <NavBar client:load/>
  <div class="pt-9">
  <Vertigo client:load/>
  <Contact />
  </div>
  <Footer />
</Layout>
